<p>Esta es la info de la fecha:</p>
<p>
	<b>Nombre de la fecha:</b> <%= @toque.nombre %><br/>
	<b>D&oacute;nde:</b> <%= @toque.donde_full %><br/>
	<b>D&iacute;a:</b> <%= @toque.dia %><br/>
	<b>Hora:</b> <%= @toque.hora %><br/>
	<b>Cu&aacute;nto:</b> ant: <%= @toque.precio_anticipada %> / pue: <%= @toque.precio_puerta %><br/>
	<b>G&eacute;nero:</b> rock<br/>
</p>
<p>Muchas gracias por publicarla.</p>