<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta name="verify-v1" content="oAfX8l9APxX1PRRMnVZnusDOqvQh4TTMosWaLvbakhw=" />
        <title>// Guayra - Sitio Oficial</title>
        <%= stylesheet_link_tag 'scaffold' %>
		<%= stylesheet_link_tag 'layout' %>
		
		<%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
		
		<!-- para utilizar AJAX -->
		<%=  javascript_include_tag :defaults %>
		
		<!-- para utilizar SIMPLE HISTORY -->
		<%=  javascript_include_tag 'rsh' %>		
		
    </head>
    <body>
		<script type="text/javascript">
			window.dhtmlHistory.create({
			  toJSON: function(o) {
			    return Object.toJSON(o);
			  },
			  fromJSON: function(s) {
			    return s.evalJSON();
			  }
			});
			
			var pageListener = function(newLocation, historyData) {
			  eval(historyData);
			};
			
			window.onload = function() {
			  dhtmlHistory.initialize();
			  dhtmlHistory.addListener(pageListener);
			}
		</script>
		<div id="header"><%= image_tag '/images/headertest.jpg' %></div>
	    <div align="center" id="menu">
	        <%= link_content_to 'Inicio', '/inicio' %> | 
			<%= link_content_to 'Noticias', noticias_path %> | 
			<%= link_content_to 'Fechas', '/fechas' %> | 
			<%= link_content_to 'Bio', '/bio' %> | 
			<%= link_content_to 'Extras', '/extras' %> | 
			<%= link_content_to 'Musica', '/musica' %> | 
			<%= link_content_to 'Fotos', '/fotos' %> |
			<%= link_content_to 'Contacto', '/contacto' %>
			
	    </div>
    	<div id="content">
	        <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><%end%>
	        <% if flash[:error] %><div class="error"><%= flash[:error] %></div><%end%>
	        <% if flash[:success] %><div class="success"><%= flash[:success] %></div><%end%>
	        <%= yield %>
    	</div>
		<div style="display:none;" id="loading"><%= image_tag '/images/ajax-loader.gif' %><br/><br/>Aguarde unos instantes, cargando...</div>
		<% if logged_in? then %>
			<div id="user_menu">
				<%= yield :user_menu%>
				<%= link_content_to 'nuevo toque', new_toque_path %><br/>
				<%= link_content_to 'nueva noticia', new_noticia_path %><br/>
				<%= link_content_to 'Locaciones', locaciones_path %><br/>
				<%= link_to 'Log out', session_path, :method=>:delete%>
			</div>
		<% end %>
		
		<%= render :partial => 'layouts/googleAnalytics' %>
    </body>
</html>
